.Container {
    display: flex;
    align-items: center;
}

.Grid {
    margin: 25px;
}

.Grid > ul {
    margin: 0;
    padding: 0;
}

.Controls {
    margin-left: 50px;
    display: flex;
    flex-flow: column;
}

.Controls button {
    margin-top: 10px;
}

.Scenes {
    margin-top: 10px;
}

.Scenes > div {
    margin: 0 5px;
}

h1 > a {
    margin-left: 5px;
}

a > img {
    width: 25px;
    opacity: 0.7;
}

a > img:hover {
    opacity: 1;
}
